-
    let langMonths = [
        'january', 'february', 'march', 'april', 'may', 'june',
        'july', 'august', 'september', 'october', 'november', 'december'
    ]

    function get_years() {
        let years = []
        for(let post of site.posts.toArray()) {
            if(!years.includes(post.date.year())) years.push(post.date.year())
        }
        return years
    }

    function get_months() {
        let months = []
        for(let post of site.posts.toArray()) {
            if(!months.includes(post.date.month() + 1) && post.date.year() === page.year) {
                months.push(post.date.month() + 1)
            }
        }
        return months
    }
article(class='container-fluid')
    h1(class='page-title text-center')!= __('blog_archive') 
    div(class='archive-info')
        nav(role='navigation')
            ol(class='breadcrumb')
                each year in get_years()
                    li(class='breadcrumb-item ' + (page.year == year ? 'active' : ''))
                        if (page.year != year)
                            a(href=url_for(config.archive_dir + '/' + year))= year
                        else
                            = year
        if (page.year)
            nav(role='navigation')
                ol(class='breadcrumb')
                    each month in get_months()
                        li(class='breadcrumb-item ' + (page.month == month ? 'active' : ''))
                            if (page.month != month)
                                a(href=url_for(config.archive_dir + '/' + page.year + '/' + moment().month(month - 1).format('MM')))
                                    != __(langMonths[month - 1])
                            else
                                = __(langMonths[month - 1])
    div(class='container archive-content')
        div(class='card-columns')
            each item in page.posts.toArray()
                != partial('_partial/card', { article: item })
!= partial('_partial/paginator')