article(class='container-fluid', id='blog-archive')
    h1(class='page-title text-center')= __('tag_content', page.tag)
    div(class='container archive-content')
        div(class='card-columns')
            each item in page.posts.toArray()
                != partial('_partial/card', { article: item })
!= partial('_partial/paginator')