img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

blockquote {
    border-left: solid 10px #cccccc;
    background-color: #f6f6f6;
    padding: 15px;
}

blockquote p {
    margin: 0;
}

#content article pre {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    font-size: 15px;
}

#content article pre code {
    border-radius: 3px;
    padding: 10px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.space-top {
    margin-top: 30px;  
}

#blog-header {
    padding: 20px;
    background: url(../images/doodles.png);
    border-bottom: solid 1px #ebebeb;    
}

.left-panel {
    border-right: solid 1px #ebebeb;
    padding: 30px 0;
}

#main-menu span.oi {
    color: #c4c4c4;
    margin-left: 15px; 
}

#main-menu a.nav-link.active span.oi {
    color: #000000;
}

#main-menu a.nav-link.active {
    color: #000000;
    font-weight: 600;
}

h1.blog-title {
    color: #000000;
}

h2.blog-subtitle {
    color: #555;
    font-size: 20px;
}

h1.article-title {
    color: #000000 !important;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 5px !important;
}

h1.article-title a {
    color: #000000;
}

article .card .card-title {
    margin: 0 !important;
}

h1.article-title a:hover {
    text-decoration: none;
    color: #007bff;
}

#content {
    padding: 40px;
    min-height: 380px;
}

#content article {
    margin-bottom: 70px;
    font-size: 18px;
}

#content article #disqus_thread {
    margin-top: 50px;
}

#content article .article-info span.oi {
    margin-right: 10px;
    color: #555555;
}

#content article .article-info span.article-date {
    color: #999999;
    font-size: 15px;
    margin-right: 20px;
}

#content article .article-info ul.tag-list {
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
    font-size: 13px;
    display: inline-block;
}

#content article .article-info ul.tag-list li {
    display: inline-block;
    margin-right: 10px;
}

#content article ul.tag-list li a {
    padding: 5px;
    background-color: #ebebeb;
    border-radius: 3px;
}

#content article h1, #content article h2, #content article h3, #content article h4, #content article h5, #content article h6 {
    color: #555;
    margin: 35px 0 20px;
}

#blog-archive .item-archive {
    margin-bottom: 10px;
}

#blog-archive .item-archive .card {
    height: 100%;
}

#blog-archive .breadcrumb {
    font-size: 13px;
}

div.paginator > a,
div.paginator > span {
    padding: 7px 14px;
    text-align: center;
    border: solid 1px #eeeeee;
    border-right-width: 0;
}

div.paginator > a:hover {
    text-decoration: none;
    background-color: #f6f6f6;
}

div.paginator > *:first-child {
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
}

div.paginator > *:last-child {
    border-radius: 0 5px 5px 0;
    border-right-width: 1px;
}

footer {
    background-color: #ebebeb;
    padding: 40px;
}