/* General */
body {
    font-family: 'Heebo', sans-serif !important;
    font-weight: 300;
    color: #555;
}

a,
a:hover {
    color: #000;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #000;
}

blockquote {
    border-left: solid 10px #cccccc;
    background-color: #f6f6f6;
    padding: 15px;
}

blockquote p {
    margin: 0;
}

/* Helper classes */
.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.space-top {
    margin-top: 30px;  
}

.main-container {
    max-width: 960px;
}

/* Header */
#blog-header {
    padding: 20px 0;
}

#blog-header .container {
    max-width: 960px;
}

#blog-header .blog-title,
#blog-header .blog-subtitle {
    display: inline-block;
    vertical-align: middle;
}

h1.blog-title {
    color: #000;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

h2.blog-subtitle {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid 1px #eee;
    color: #888;
}

#main-menu {
    float: right;
}

#main-menu a.nav-link {
    color: #000;
    font-weight: 300;
    padding-top: 0;
}

#main-menu a.nav-link.active {
    color: #000000;
    font-weight: bold;
}

/* Content */
#content {
    min-height: 380px;
    margin-top: 40px;
}

#content article {
    font-size: 16px;
}

#content article pre {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    font-size: 12px;
}

#content article pre code {
    border-radius: 3px;
    padding: 20px;
}

#content .card-title {
    margin: 0 !important;
}

#content .card-title > a {
    color: #000;
    font-family: 'Heebo', sans-serif !important;
}

#content .card-title > a:hover {
    color: #333;
    text-decoration: none;
}

#content > article > .container-fluid,
#content > article > .container {
    padding: 0 !important;
}

#content article .article-info span.oi {
    margin-right: 5px;
    color: #555555;
    font-size: 12px;
}

#content article .article-info span.article-date {
    color: #999999;
    font-size: 12px;
    margin-right: 20px;
}

ul.tag-list {
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
    font-size: 12px;
    display: inline-block;
}

ul.tag-list li {
    display: inline-block;
    margin-right: 3px;
}

ul.tag-list li a {
    padding: 5px 7px;
    border: solid 1px #ddd;
    border-radius: 3px;
    color: #888;
    display: block;
    transition: all .2s ease-in;
}

ul.tag-list li a:hover {
    text-decoration: none;
    border-color: #333;
    color: #333;
}

#content article .article-content h1, 
#content article .article-content h2, 
#content article .article-content h3, 
#content article .article-content h4, 
#content article .article-content h5, 
#content article .article-content h6 {
    font-weight: 400;
    margin-top: 30px;    
}

#content article .article-header {
    min-height: 200px;
}

#content article .article-header .img-wrapper {
    background-size: auto 110%;
    background-position: 50% 50%;
}

#content article .article-header .info-wrapper {
    padding: 30px 0 30px 20px;
}

#content article .article-content {
    margin-top: 60px;
    max-width: 800px;
}

#content article .page-content,
#content article .archive-content {
    margin-top: 60px;
}

#content article .archive-info {
    margin-top: 60px;
}


#content article .archive-info .breadcrumb {
    font-size: 13px;
}

#content article #disqus_thread {
    margin-top: 50px;
}

div.paginator {
    text-align: center;
    margin: 60px 0 20px;
}

div.paginator > a,
div.paginator > span {
    padding: 7px 14px;
    text-align: center;
    color: #888;
}

div.paginator > span.current {
    color: #000;
    font-weight: 800;
}

div.paginator > a:hover {
    text-decoration: none;
    color: #000;
}

footer {
    padding: 40px 0 20px;
    text-align: center;
    color: #888;
    font-weight: 300;
    font-family: 'Heebo', sans-serif;
}

/* Media queries */
@media screen and (max-width: 600px) {
    #content {
        padding-left: 0;
        padding-right: 0;
    }

    #main-menu {
        flex-direction: column !important;
        display: flex;
        float: none;
        margin-top: 40px;
    }

    #main-menu a.nav-link {
        display: block;
    }

    #blog-header {
        text-align: center;
    }
}