article(class='container-fluid')
    h1(class='article-title') 
        a(href=url_for(article.path))= article.title
    div(class='article-info')
        span(class='oi oi-calendar')
        span(class='article-date')= article.date.format('D/MM/YYYY. h:mm:ss a')
        span(class='oi oi-tags')
        != list_tags(article.tags, { show_count: false, class: 'tag' })
    div(class='container space-top')!= article.content