footer
    p(class='no-margin') &copy; 2017 #{config.author}.
    p(class='no-margin')
        span(class='oi oi-code')
        |  with 
        span(class='oi oi-heart')
        |  in Baranoa.
script(id='dsq-count-scr', src=theme.disqus.count, async)