footer
    p(class='no-margin') &copy; 2017 #{config.author}.
    p(class='no-margin')
        span(class='oi oi-code')
        |  with 
        span(class='oi oi-heart')
        |  in Baranoa.
if (theme.disqususername)
    script(id='dsq-count-scr', src='https://#{theme.disqususername}.disqus.com/embed.js', async)