footer
    p(class='no-margin') &copy; 2017 #{config.author}.
    p(class='small-text no-margin')
        span(class='oi oi-code')
        | !{' with '}
        span(class='oi oi-heart')
        | !{' in Baranoa. '}