header(id='blog-header')
    div(class='container')
        div(class='row')
            div(class='col-md-12')
                h1(class='blog-title')= config.title 
                span(class='separator')
                h2(class='blog-subtitle')= config.subtitle