nav(class="nav flex-column", id='main-menu')
    each item, i in theme.menu
        a(class='nav-link text-right' + (is_current(item.url) ? ' active' : ''), href=url_for(item.url))
            != __(i)
            span(class='oi oi-' + item.icon)
